    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner"
             href="https://gitlab.freedesktop.org/cangjie/"
             target="_blank">View on Freedesktop.org</a>

          <a href="{{ site.url }}/"><h1 id="project_title">Project Cangjie 全倉頡中文輸入</h1></a>
          <nav id="main_nav">
            <a class="{% if page.name == 'home' %}active{% endif %}"
               href="{{ site.url }}/">Home</a>
            <a class="{% if page.name == 'people' %}active{% endif %}"
               href="{{ site.url }}/people.html">The team</a>
            <a class="{% if page.name == 'projects' %}active{% endif %}"
               href="{{ site.url }}/projects/">Our Projects</a>
            <a class="{% if page.name == 'contribute' %}active{% endif %}"
               href="{{ site.url }}/contribute.html">Contribute</a>
            <a class="{% if page.name == 'contact' %}active{% endif %}"
               href="{{ site.url }}/contact.html">Contact</a>
          </nav>

        </header>
    </div>
